{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
